form.Identification {
  width: 100%;

  .form__container {
    width: 100%;
    max-height: calc(100% - 60px);
    overflow-y: scroll;

    .line {
      display: flex;
      width: 100%;

      .item {
        width: 50%;

        :global(section.fileUploader) {
          margin-top: 20px;
        }
      }
    }
  }
}