form {
  width: 100%;

  .form__container {
    width: 100%;

    .line {
      display: flex;
      width: 100%;

      .item {
        width: 50%;

        :global(.fileUploader) {
          margin-top: 20px;
        }
      }
    }
  }
}