.Toastify {
  .Toastify__toast-container {
    .Toastify__toast {
      &--error {
        background: #fc5454;

        &:before {
          content: '\f00d';
        }
      }

      &--success {
        background: #2fab72;

        &:before {
          content: '\f058';
        }
      }

      &--warning {
        background: #ffc901;

        &:before {
          content: '\f071';
        }
      }

      &--info {
        background: #1641b5;

        &:before {
          content: '\f05a';
        }
      }

      &:before {
        font-family: FontAwesome;
        font-size: 24px;
        transform: translateY(70%);
        position: absolute;
        top: 0;
        line-height: 1.15;
        margin-left: 10px;
      }

      &-body {
        margin-left: 45px;
      }
    }

    &--top-right {
      top: 4em;
    }

    .Toastify__close-button {
      display: none;
    }
  }
}
