.AboutModal {
  .modal {
    max-width: 640px;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;

    .header {
      display: flex;
      height: 60px;
      align-items: center;
      justify-content: space-between;
      padding: 0px 20px;
      margin: 0;
      background-color: #0b3795;

      div {
        width: 100%;
      }
      
      h2 {
        text-align: left;
        align-self: center;
        font-weight: 400;
        color: #ffffff;
        font-size: 2rem;
      }

      a {
        cursor: pointer;
      }

      i {
        cursor: pointer;
        color: #ffffff;
        font-size: 17px;
      
        .fa-angle-left {
          font-weight: 500;
          font-size: 25px;
          margin-right: 5px;
          color: #ffffff;
        }
      }
    }

    .body {
      min-height: 382px;
      padding: 20px 20px 0 20px;

      :global(div.react__core__tabview ul) {
        justify-content: flex-start;

        li:first-of-type {
          margin-left: 0;
        }
      }

      .top {
        display: flex;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid rgba(63, 63, 68, 0.05);

        .logos {
          img.karbon {
            margin: 0 20px;
          }
        }

        .links {
          display: flex;
          flex-direction: column;

          p {
            margin-bottom: 5px;
          }

          a {
            color: #637097;
            cursor: pointer;

            &:hover {
              color: #1641b5;
            }
          }
        }
      }

      .info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;

        h2,
        a,
        span {
          color: #1641b5;
          font-weight: 600;
          margin: 0 0 10px;
          cursor: pointer;
        }

        a {
          min-height: 15px;
        }

        span {
          min-height: 15px;
          margin-left: 10px;
        }

        h2 {
          min-height: 20px;
          font-size: 1em;
        }

        p {
          color: #637097;
          font-size: 1em;
          line-height: 1.86;
          font-weight: 300;
          padding-right: 15px;
          user-select: none;
        }
      }

      .double {
        display: flex;
        flex-direction: row;

        .info {
          width: 50%;
        }
      }
    }
  }
}