section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;

  &.bottom {
    position: absolute;
    bottom: 0;
  }

  .top__content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;

    .current__container {
      width: 100%;
      height: 30px;
      position: relative;
      display: flex;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 40px;

      &::after {
        position: absolute;
        content: "";
        top: 13px;
        left: 0;
        width: 100%;
        height: 2px;
        z-index: 0;
        background-image: linear-gradient(to right,#2b56f5 0%,#46bdf4 100%);
      }

      span {
        width: 26px;
        height: 26px;
        max-width: 26px;
        border-radius: 50%;
        display: flex;
        z-index: 1;
        background-color: #f3f4f8;
        box-shadow: 0 3px 5px 0 rgba(166,166,166,0.15);
        border: 4px solid #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.8em;
        color: #16a3fe;

        &.active {
          border-color: #2b56f5a8;
        }
      }
    }
  }

  .active {
    position: relative;
    display: flex;
    flex-grow: 1;
  }

  .hidden {
    display: none;
  }

  .actions__container {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;

    .back {
      :global(button) {
        min-width: 40px;
        padding: 0;
      }
    }

    .right {
      display: flex;
      justify-content: flex-end;
  
      :global(button:not(.menu)) {
        margin-left: 20px;
        min-width: 176px;
      }

      :global(button.secondary) {
        &:not(:disabled):not(:hover) {
          color: #16a3fe;
        }

        &::after {
          background: #e5e9f2;
        }
      }
    }
  }
}
