section.ProofRequest {
  width: 100%;
  display: flex;
  justify-content: center;

  .container {
    margin-top: 100px;
    min-width: 715px;
    max-width: calc(100% - 500px);
    margin: 120px 100px 0 100px;
    max-height: calc(100vh - 200px);

    h3 {
      min-height: 20px;
    }

    .breadcrumb {
      display: flex;
      color: #1641b5;
      cursor: pointer;

      h3:last-of-type {
        color: initial;
        cursor: initial;
        padding-left: 5px;
      }
    }

    .card {
      padding: 0 80px;
      display: flex;
      flex-direction: column;
      background: rgb(255,255,255);
      box-shadow: rgba(63,63,68,0.05) 0px 0px 0px 1px, rgba(63,63,68,0.15) 0px 1px 3px 0px;
      overflow: initial;
      height: auto;
      border-radius: 3px;
      padding: 38px 54px;
      position: relative;
      margin-top: 20px;
      margin-bottom: 25px;
      height: 100%;
      min-height: calc(100vh - 200px);
      overflow-y: scroll;
    }
  }
}
