section {
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  background: rgb(255,255,255);
  box-shadow: rgba(63,63,68,0.05) 0px 0px 0px 1px, rgba(63,63,68,0.15) 0px 1px 3px 0px;
  overflow: initial;
  height: auto;
  border-radius: 3px;
  padding: 38px 0px 20px 54px;
  width: 100%;
  min-height: 240px;
  position: relative;
  margin-top: 30px;

  .picture {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    top: -40px;
    left: 20px;
    background-color: #f3f4f8;
    box-shadow: 0 3px 5px 0 rgba(166,166,166,0.15);
    border: 4px solid #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      font-size: 36px;
      font-weight: bold;
      color: rgb(210, 214, 224);
    }
  }

  .info__container {
    margin-top: 40px;

    .double {
      flex-direction: row;
      display: flex;

      & :global(.side) {
        width: 50%;
      }
    }
  }
}
